.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fdfdfd;
	box-shadow: 3px 0px 17px rgba(38, 25, 25, 0.2);
	min-height: 100vh;

		&__heading {
			font-size: 28px;
			
			&:nth-of-type(1) {
				margin-top: 0;
			}

			&:nth-of-type(2) {
				margin: 1rem 0 -6px;
			}
		}

		&__avatar {
			overflow: hidden;
			max-width: 150px;
			border-radius: 50%;
			box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.3);

			img {
				display: block;
				width: 100%;
			}
		}

		&__description {
			margin-bottom: 0;
			color: $secondary;
			font-size: 1.1rem;
			&:nth-of-type(1) {
				font-size: 1.2rem
			}
		}

		&__social {
			text-align: center;
			color: $secondary;
			font-size: 1.1rem;

			p {
				 margin-bottom: 6px;
			}
		}

		&__social-link {
			color: $secondary;

			&:hover {
				color: $primary;
			}

			&:focus {
				color: $primary;
			}
		}
}
